/ == react_component('ExcelMapperExportMain', {fieldNames: @field_names.to_json,
/                                              fieldsData: @rules.to_json,
/                                              model: @model,
/                                              sampleData: @example_data.to_json,
/                                              download: admin_excel_export_path})