== react_component('ExcelMapperImportMain', {fieldNames: @field_names.to_json,
                                             fieldsData: @rules.to_json,
                                             sampleData: @example_data.to_json,
                                             preview: excel.preview_import_path,
                                             import: excel.import_path,
                                             model: @model})